<a href="https://colab.research.google.com/github/thessafuzaro/Redes_Neurais/blob/main/ANN_Hydrofoil_abril_14_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
# bibliotecas usadas
#import os   ## como estamos usando a nuvem entao esse comando esta sendo inutil
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score 
from sklearn import preprocessing 
#from google.colab import files  #biblioteca para importar files do meu computador

In [119]:
# para gerar o grafico no browser
%matplotlib inline

In [120]:
!git clone https://github.com/thessafuzaro/Redes_Neurais
%cd Redes_Neurais

Cloning into 'Redes_Neurais'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 59 (delta 26), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (59/59), done.
/content/Redes_Neurais/Redes_Neurais/Redes_Neurais/Redes_Neurais/Redes_Neurais

In [121]:
#def getLocalFiles():  #importando files , como colocou o file local entao toda vez tem que escolher o arquivo
    #_files = files.upload()
  #  if len(_files) >0:
   #    for k,v in _files.items():
    #     open(k,'wb').write(v)
#getLocalFiles()

In [122]:
# leitura dos dados
df=pd.read_csv("Hydrofoil_ago_29_2018.csv")   # pelo pandas (pd) lê o arquivo no formato csv - arquivo de dados como o excel
#DAT=pd.read_csv("Hydrofoil_ago_29_2018.csv",index_col="emit")

In [123]:
df.head(3) # lendo os 3 primeiros

   Unnamed: 0  Case  Hydrofoil  ...   Sinkage      Trim     Power
0           1     1          1  ...  0.000000  0.000000  0.000000
1           2     2          1  ... -0.689028  1.353022  0.950991
2           3     3          1  ... -0.835413  1.346323  1.624000

[3 rows x 8 columns]

In [124]:
df.tail(3) #lendo os 3 ultimos

    Unnamed: 0  Case  Hydrofoil  ...     Sinkage      Trim        Power
56          57    57          4  ...   98.242317  2.955929  2048.288760
57          58    58          4  ...   98.290939  2.932024  2259.555115
58          59    59          4  ...  104.693695  2.979833  2306.958369

[3 rows x 8 columns]

In [125]:
# separa as colunas de interesse (filtrar)  #filtrou os dados apenas para as colunas de interesse
#Index=[2,3,4,5,6,7]
#Dat_Select=[]
#Dat_Select=df.iloc[:,Index].copy()  # vai pegar do df todas as linhas (:) de todas as colunas do index (2,3,4,5,6,7)   esse .copy é para copiar apenas os valores

In [126]:
Dat_select=df.iloc[:,2:]  # outra maneira se separar as colunas de interesse,  [: - todas as linhas] [, 2: - todas as colunas a partir da 2]

In [127]:
Dat_Select.head(3)

   Hydrofoil    Froude  Resistence   Sinkage      Trim     Power
0       -1.0 -1.000000   -1.000000 -0.883085 -1.000000 -1.000000
1       -1.0 -0.913570   -0.986458 -0.895478 -0.459481 -0.999415
2       -1.0 -0.896283   -0.980729 -0.898111 -0.462157 -0.999001

In [128]:
# funcao normatiza dados
#def Normatiza(x):
#    strings=list(x)
 #   for i in strings:
  #      max_x=x[i].max()
   #     min_x=x[i].min()
    #    a=(max_x+min_x)/2
     #   b=(max_x-min_x)/2
      #  x[i]=(x[i]-a)/b
        #x[i]=0.8*(x[i]-min_x)/(max_x-min_x)+0.1
    #return x

In [129]:
# funcao retorna os dados a forma original
#def Original(x,x_old):
 #   strings=list(x)
  #  for i in strings:
   ##    min_x=x_old[i].min()
     #   a=(max_x+min_x)/2
      #  b=(max_x-min_x)/2
       # x[i]=x[i]*b+a
    #return x

In [130]:
# separa os dados em normatizados e originais
DAT_OLD=[]
DAT_OLD=Dat_Select.copy()
DAT=Normatiza(Dat_Select)

In [131]:
scaler = preprocessing.MinMaxScaler().fit(Dat_Select)
scalerY = preprocessing.MinMaxScaler().fit(Dat_Select['Power'])
DAT = scaler.transform(Dat_Select)

ValueError: ignored

In [ ]:
np.array(Dat_Select['Power']).reshape(-1,1)

In [ ]:
DAT = pd.DataFrame(DAT) # Agora deixou de ser dataframe, entao precisamos fazer virar datafame

In [ ]:
DAT.tail(3)

In [ ]:
# separa os dados em treino e teste
train=DAT.sample(frac=0.8,random_state=None) # poderia ser frac=0.5? sim ou nao?  # nesse caso 80% dos dados foi usado para treino esse sample é para randomizar
test=DAT.drop(train.index) #separou um bloco de teste

In [ ]:
train.head(3)

In [ ]:
test.head(3)

In [ ]:
# obtem as variaveis independentes (treino e teste)
x_train=train.iloc[:,[0,1]]
x_test=test.iloc[:,[0,1]]
X_OLD=DAT_OLD.iloc[:,[0,1]]

In [ ]:
# obtem a dependente potência (treino e teste)
Index=[5]
y_train=train.iloc[:,Index]
y_test=test.iloc[:,Index]
Y_OLD=DAT_OLD.iloc[:,Index]

In [ ]:
# define a rede neural 
model = MLPRegressor(solver='lbfgs',activation='tanh',alpha=1e-5,hidden_layer_sizes=(9, 8),random_state=1)  #lbfs é o metodo solver quase newton, tanh é a funçao de ativaçao tangente,  e para usar tem q chamar a biblioteca(from sklearn.neural_network import MLPRegressor)

In [ ]:
# treina a rede neural
model.fit(x_train, y_train)

In [ ]:
# usa a rede neural treina em calculos para treino e teste
y_calc_train=model.predict(x_train)
y_calc_test=model.predict(x_test)

In [ ]:
# transforma a saida da rede em dataframe 
y_calc_train=pd.DataFrame(y_calc_train)
y_calc_test=pd.DataFrame(y_calc_test)
col_names=list(y_train)
y_calc_train.columns = col_names
y_calc_test.columns = col_names

In [ ]:
# transforma dos dados calculados na forma original (nao normatizado)
y_calc_train=ScalerY.inverse_transform(y_calc_train,Y_OLD)
y_calc_test=ScalerY.inverse_transform(y_calc_test,Y_OLD)

In [ ]:
# recupera os dados originais 
test=[]
train=[]
train=Original(y_train,Y_OLD)
test=Original(y_test,Y_OLD)

In [ ]:
train

In [ ]:
# escolhe uma das resposta para fazer o grafico (resistencia-treino)
resist_obs_train=[]
resist_calc_train=[]
resist_calc_train=y_calc_train['Power'].copy()
resist_obs_train=train['Power'].copy()

In [ ]:
# escolhe uma das resposta para fazer o grafico (resistencia-teste)
resist_obs_test=[]
resist_calc_test=[]
resist_calc_test=y_calc_test['Power'].copy()
resist_obs_test=test['Power'].copy()

In [ ]:
# expressa os dois dados em figura
fig = plt.figure()
ax1 = fig.add_subplot(111)

ax1.scatter(resist_obs_test,resist_calc_test, s=10, c='b', marker="s", label='teste')
ax1.scatter(resist_obs_train,resist_calc_train, s=10, c='r', marker="o", label='treino')
plt.legend(loc='upper left')
plt.ylabel('Power Calc')
plt.xlabel('Power Obs')
plt.show()

In [ ]:
mse=mean_squared_error(resist_obs_test,resist_calc_test)
print("MSE teste=",mse)
R2=r2_score(resist_obs_test,resist_calc_test)
print("R^2 teste=",R2)

In [ ]:
mse=mean_squared_error(resist_obs_train,resist_calc_train)
print("MSE treino=",mse)
R2=r2_score(resist_obs_train,resist_calc_train)
print("R^2 treino=",R2)